@import 'styles-variables';
.mat-drawer-container{
  background: none !important;
}
.mat-sidenav-content{
  /* The image used */
  background-image: url("../assets/intro.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//body {
//  padding: 0;
//  margin: 0;
//  font-family: 'Fredoka One', cursive;
//}

:host {
  display: flex;
  flex: 1;
}

mat-sidenav {
  width: 320px;
}

.title{
  font-size:26px;
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

main,.content,mat-sidenav-container {
  height: 100%;
}
main{
  margin-top:50px;
}
mat-toolbar{
  transition:background .25s ease-in-out,padding .25s ease-in-out;
  background: 0 0;
}
mat-sidenav-content{

}

footer{
  background-color: rgba(218, 218, 218, 0.36);
}

//.app{
//  height: 100vh;    // emmet h100vh
//}
//
//mat-sidenav-container {
//  height: 100%;
//
//  mat-toolbar {
//    z-index: 1;
//
//    .nav-button {
//      margin: 0 10px 0 0;
//    }
//
//    .branding {
//      cursor: pointer;
//    }
//
//    .spacer {
//      flex: 1 1 auto;
//    }
//
//    @media (max-width: map-get($grid-breakpoints, lg)) {
//      .nav-button {
//        min-width: 0;
//        padding: 0 10px;
//      }
//    }
//  }
//}
//
//mat-sidenav {
//  width: 450px;
//
//  .branding {
//    height: 64px;
//    padding: 8px 10px;
//    font-size: 20px;
//    font-weight: 500;
//
//    img {
//      margin: 0 10px 0 0;
//    }
//
//    span {
//      position: relative;
//      top: 3px;
//    }
//  }
//
//  .mat-nav-list {
//    padding-top: 0;
//  }
//}
//
//.wrapper {
//  //z-index: -2;
//  min-height: 80%;
//  display: flex;
//  flex-direction: column;
//
//  .content {
//    flex: 1 0 auto;
//    position: relative;
//  }
//
//  .footer {
//    padding: 0 15px;
//    text-align: center;
//    z-index: 1;
//
//    .row {
//      padding: 10px 0;
//
//      .links {
//        a {
//          transition: padding 0.5s;
//          display: inline-block;
//          padding: 20px 5px;
//
//          &:hover {
//            text-decoration: none;
//          }
//
//          span {
//            display: inline-block;
//            width: 70px;
//            padding: 0 0 0 5px;
//            overflow: hidden;
//            text-align: left;
//            white-space: nowrap;
//            transition: width 0.5s;
//          }
//        }
//
//        @media (max-width: map-get($grid-breakpoints, md)) {
//          a {
//            padding: 20px;
//
//            span {
//              width: 0;
//              padding: 0;
//            }
//          }
//        }
//
//        @media (max-width: map-get($grid-breakpoints, sm)) {
//          a {
//            padding: 20px 5px;
//          }
//        }
//      }
//
//      .signature {
//        a {
//          float: right;
//        }
//      }
//    }
//  }
//}
