<div class="bg"></div>
<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme" >
 <mat-sidenav-container cdk-scrollable fullscreen style="height: 100%; overflow: auto;">
  <mat-sidenav #sidenav mode="push">
     <div class="branding"><mat-icon>home</mat-icon> <span>Angular DEMO</span></div>
     <mat-nav-list>
       <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()"
          [routerLink]="[item.link]" routerLinkActive="active">
         {{item.label}}
       </a>
     </mat-nav-list>
  </mat-sidenav>

   <mat-sidenav-content (scroll)="onScrollEvent($event)">
    <header>
      <mat-toolbar style="position:fixed;" color="{{ toolbarScroll ? 'primary' : 'transparent' }}">
        <div class="toolbar-background {{ toolbarScroll ? 'show' : 'hide' }}"></div>
        <button mat-icon-button (click)="sidenav.open()" fxHide fxShow.lt-md>
          <mat-icon>clear_all</mat-icon>
        </button>

        <span class="title" routerLink="">Angular DEMO</span>

        <span fxHide fxShow.gt-sm fxFlex fxLayout="row"  fxLayoutAlign="center center" >
          <button mat-button class="nav-button" *ngFor="let item of navigation"
                  [routerLink]="[item.link]" routerLinkActive="active">
            {{item.label}}
          </button>
        </span>

        <span class="fill-remaining-space"></span>

        <button mat-icon-button routerLink="settings">
          <mat-icon>settings</mat-icon>
        </button>

        <a matTooltip="Project Github Repository"
           matdTooltipPosition="before"
           mat-icon-button class="link"
           href="https://github.com/valneras/angular-deploy"
           target="_blank">
          <i class="fa fa-github fa-2x"></i>
        </a>

      </mat-toolbar>
    </header>

    <main #main>
      <section id="content-page-1" class="content" #content>
        <div class="box-background"></div>
        <div class="box-main">
          <b>>**1**</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate ante at suscipit accumsan. Morbi condimentum enim non ex facilisis, sit amet bibendum ipsum euismod. Nam pharetra augue odio. Praesent nec vulputate eros. Sed eleifend accumsan urna, nec pretium lectus interdum id. Nam erat est, iaculis non purus id, lobortis ultrices elit. In vitae felis est. Sed pulvinar tincidunt rutrum. Duis ultricies mauris at justo rhoncus accumsan. Sed interdum sapien placerat lectus lobortis, et consequat ex ornare.

          Aliquam pellentesque mattis dapibus. Mauris ut auctor est. Donec tellus metus, feugiat vulputate consequat non, rhoncus ac nulla. Praesent ipsum felis, blandit eu pulvinar a, iaculis vel leo. Sed blandit rhoncus erat vitae vestibulum. In turpis ex, finibus sed maximus non, ullamcorper vitae sem. Morbi sodales, neque vitae mollis tempor, enim est consectetur nisi, quis consequat ipsum ante ut nisi. Fusce cursus, nisl quis bibendum gravida, nisi ex tempor augue, sit amet ultricies libero felis et odio. Duis posuere magna ante, id elementum mi tincidunt ac.

          Quisque vulputate malesuada mi. Ut vulputate enim non mi lobortis mollis. Ut tincidunt enim vitae sagittis vulputate. Nulla elementum arcu id libero semper volutpat. Duis tristique condimentum malesuada. Cras accumsan nulla quis enim ultrices aliquet. Phasellus tempor augue sit amet vestibulum luctus.

          Quisque tempus at arcu a faucibus. Mauris varius feugiat eros vel sollicitudin.
        </div>
      </section>
      <section id="content-page-2" class="content">
        <div class="box-background"></div>
        <div class="box-main">
          <b>>**3**</b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate ante at suscipit accumsan. Morbi condimentum enim non ex facilisis, sit amet bibendum ipsum euismod. Nam pharetra augue odio. Praesent nec vulputate eros. Sed eleifend accumsan urna, nec pretium lectus interdum id. Nam erat est, iaculis non purus id, lobortis ultrices elit. In vitae felis est. Sed pulvinar tincidunt rutrum. Duis ultricies mauris at justo rhoncus accumsan. Sed interdum sapien placerat lectus lobortis, et consequat ex ornare.

          Aliquam pellentesque mattis dapibus. Mauris ut auctor est. Donec tellus metus, feugiat vulputate consequat non, rhoncus ac nulla. Praesent ipsum felis, blandit eu pulvinar a, iaculis vel leo. Sed blandit rhoncus erat vitae vestibulum. In turpis ex, finibus sed maximus non, ullamcorper vitae sem. Morbi sodales, neque vitae mollis tempor, enim est consectetur nisi, quis consequat ipsum ante ut nisi. Fusce cursus, nisl quis bibendum gravida, nisi ex tempor augue, sit amet ultricies libero felis et odio. Duis posuere magna ante, id elementum mi tincidunt ac.

          Quisque vulputate malesuada mi. Ut vulputate enim non mi lobortis mollis. Ut tincidunt enim vitae sagittis vulputate. Nulla elementum arcu id libero semper volutpat. Duis tristique condimentum malesuada. Cras accumsan nulla quis enim ultrices aliquet. Phasellus tempor augue sit amet vestibulum luctus.

          Quisque tempus at arcu a faucibus. Mauris varius feugiat eros vel sollicitudin.
        </div>
      </section>
      <section id="content-page-3" class="content" fxLayout="column">
        <div class="box-background"></div>
        <div class="box-main">
          <div fxLayout="row" fxLayout.lt-sm="column" fxFill fxFlex="20" fxFlex.lt-sm="100">
            <mat-card fxFlex="60">
              <mat-icon>report</mat-icon>
              <h2>Hi Bro!</h2>
              <p>Test2</p>
            </mat-card>

            <mat-card fxFlex="40">
              <mat-slide-toggle>Is Admin?</mat-slide-toggle>
              <mat-slide-toggle>Is Cool?</mat-slide-toggle>
            </mat-card>

          </div>
          <div fxLayout="row"  fxLayout.lt-sm="column" fxFlex="80" fxFlex.lt-sm="100">
            <mat-card fxFlex="100">
              <mat-icon>report</mat-icon>
              <h2>Other box</h2>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate ante at suscipit accumsan. Morbi condimentum enim non ex facilisis, sit amet bibendum ipsum euismod. Nam pharetra augue odio. Praesent nec vulputate eros. Sed eleifend accumsan urna, nec pretium lectus interdum id. Nam erat est, iaculis non purus id, lobortis ultrices elit. In vitae felis est. Sed pulvinar tincidunt rutrum.

              </span>
            </mat-card>
          </div>
          <!--[@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">-->
          <!--<router-outlet #o="outlet"></router-outlet>-->
        </div>
      </section>


    </main>

    <footer>
      <div fxLayout="row">
        <div fxFlex fxLayout="column">
          <a href="https://github.com/valneras/angular-deploy" target="_blank">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            <span>Open my Github</span>
          </a>
        </div>
        <div fxFlex >
          &#169; {{year}} - Vincent
          <a matTooltip="Show changelog"
             matTooltipPosition="before"
             href="https://github.com/valneras/angular-deploy/CHANGELOG.md">
            <i class="fa fa-rocket"></i> V1
          </a>
        </div>
      </div>
    </footer>
   </mat-sidenav-content>
 </mat-sidenav-container>
</div>
