/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "https://fonts.googleapis.com/css?family=Material+Icons";
/*@import "https://fonts.googleapis.com/css?family=Roboto:400,300";*/
@import "https://fonts.googleapis.com/css?family=Quantico";
html, body {
  display: flex;
  flex-direction: column;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  /*overflow-y: auto;*/

  /*font-family: Roboto, Arial, sans-serif;*/
  font-family: 'Quantico',cursive, Arial, sans-serif !important;
  margin: 0;
  height: 100%;
}
